.page_actu {
    padding-top: 10px;
}

.container_actu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;

}

.actu_ind {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 80%;
    margin: 20px;
    border: 2px solid rgb(0, 255, 242);
    border-radius: 10px;
    padding: 20px;
    background-color: black;
}
.img_actu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.contenu{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.img_actu img {

    max-width: 100%;
    border-radius: 10px;
    height: auto;
    width: 30%;
}

.date{
    font-size: 14px;
    margin-top: 20px;
}
.title {
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 15px;
    color: aliceblue;
}

.txt {
    margin: 10px 0;
    line-height: 1.6em;
    font-size: 15px;
}
@media screen and (max-width: 850px) {
    .img_actu{
        display: flex;
        flex-direction: column;
    }
    .img_actu img{
        width:100%;
    }
}