.container_contact{
    margin-bottom: 50px;

}
.container_contact h1 {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 72px;
    color: white;
    text-align: center;
}
.form{
  background-color: #303030a4;
  background-image: url(../img/gridbg_glow.png);
}

.container_contact h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}

/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background: #000000;
    color: rgb(255, 255, 255);
    border-radius: 4px;
}
input:focus,
textarea:focus{
  background-color: rgb(232,240,254);
  color: rgb(43, 43, 43);
}
.input-container input:focus,
textarea:focus { outline: 0; }

.input-container input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

.input-container textarea {
    width: 100%;
    min-height: 15em;
    margin-bottom: 20px;
}

.input-container {
    width: 650px;
    height: 600px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

  .input-container .button {   
     
    display: block;
    margin: auto;
    min-width: 200px;
    min-height: 40px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #00ccff;
  background: linear-gradient(90deg, rgb(1, 166, 255) 0%, rgb(1, 162, 215) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(13, 174, 255, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .input-container button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(200px + 12px);
    min-height: calc(40px + 12px);
    border: 6px solid #005b85;
    box-shadow: 0 0 60px rgba(0, 153, 255, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

  .input-container input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

.input-container input[type=checkbox]:checked + label {
  color: rgb(0, 115, 255);
  font-style: normal;
}
@media only screen and (max-width: 768px){
    .input-container {
        width: 650px;
        height: 800px;
        max-width: 100%;
        margin: 20px auto 25px auto;
    }
    .container_contact h1 {
      font-size: 40px;
}
  .container_contact h4{
    font-size: 16px;
  }
}