.image_site h1 {
    color: aliceblue;
    text-align: center;
    margin: 50px 0;
}
.image_site a{
    display: block;
    background-color: rgb(24,56,96);
    color: #FFF;
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    transition: .3s;
    margin: 20px 30px;
    text-align: center;
}
.gallery_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery_img img {
    width: 320px;
    height: 200px;
    margin: 30px;
}

.gallery_img a {
    background-color: #00164879;
    color: #FFF;
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    transition: .3s;
    
}

.gestion_img {
    display: flex;   
    margin: 20px;
}
.suppression{
    position: absolute;
}

.suppression a{
    background-color: rgb(24,56,96);
    color: #FFF;
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    transition: .3s;
    
}
@media screen and (max-width: 400px){
    .gallery_img img {

        margin: 0px;
    }
    
}