.image_site h1 {
    color: aliceblue;
    text-align: center;
    margin: 50px 0;
}

.gallery_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery_img img {
    width: 320px;
    height: 200px;
    margin: 30px;
}

.gallery_img a {
    display: block;
    background-color: #00bdae;
    color: #FFF;
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    transition: .3s;
    margin: 20px auto;
}

.gestion_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #00bdae 1px solid;
    margin: 20px;
}