<div class="user">

    <div class="card_user">
        <div class="card-header_user">
            <div class="card-cover_user" style="background-image: url('../src/img/fond_blue.jpg')"></div>
            <img class="card-avatar_user" src="[#CITIZEN_USER_IMG#]" alt="avatar utilisateur" />
            <h1 class="card-fullname_user">[#CITIZEN_USER_PSEUDO#]</h1>

        </div>

        <div id="info_user_general">
            <div class="info_user">
                <h3><i class="fas fa-user-circle"></i>Vos informations</h3>
                <p>Pseudo : [#CITIZEN_USER_PSEUDO#]</p>
                <p>Adresse mail : [#CITIZEN_USER_EMAIL#]</p>
                <button class="first-button modif-user">Modifier</button>


            </div>



            <div class="info_user">
                <h3><i class="fa-solid fa-user-lock"></i>Votre mot de passe</h3>
                [#CITIZEN_USER_ERR#]

                <button class="first-button2 modif-pass">Modifier</button>
            </div>
        </div>
    </div>
</div>