<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Konrad_StarCitizen</title>
    <link rel="stylesheet" href="css/style-header.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <nav>
        <div class="logo">
            <img src="img/logo.png" alt="Logo Image">
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links">
            <li><a href="#" id="effet">Accueil</a></li>
            <li><a href="#" id="effet">Actualités</a></li>
            <li><a href="#" id="effet">Histoires</a></li>
            <li><a href="forum/index.php" id="effet">Forum</a></li>
            <li><a href="#" id="effet">Contact</a></li>
        </ul>
    </nav>