.civilisation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

div.gallery {
  margin: 20px;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid rgb(1, 238, 255);
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: aliceblue;
}

.hero {
  display: inline-block;
  position: relative;
  width: 400px;
  overflow: hidden;
  box-shadow: 5px 5px 30px rgba(37, 37, 37, 0.3);
  margin: 30px;
}

img#hero-profile-img {
  width: 100%;
  height: auto;
  margin: 0px auto;
}

.hero-description-bk {
  position: absolute;
  top: 165px;
  height: 25%;
  width: 400px;

}

.especes .hero-description-bk {
  background-image: linear-gradient(var(--dark-black-color), var(--light-color))
}

.hero-title a {
  position: absolute;
  color: #fff;
  font-weight: 900;
  top: 130px;
  left: 40%;
  font-size: 25px;

}

.voir_aussi h2 {
  margin-left: 20px;
}

.voir_aussi_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .hero-description-bk {
    position: absolute;
    top: 75%;
    height: 25%;
    width: 400px;

  }

  .hero-title a {
    position: absolute;
    color: #fff;
    font-weight: 900;
    top: 47%;
    left: 40%;
    font-size: 20px;

  }

  #hero-profile-img {
    width: 320px;
    height: auto;
  }
}

/* END CARD DESIGN */