.page_equipement {
  background-image: url("../img/shipdetail-space-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

/* MENU CHOIX DU CONSTRUCTEUR */
.dropbtn {
  background-color: #161824;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-image: url('../img/8a8098d9768cd373f0b32b9bb344e609-removebg-preview.png') 30 / 19px round;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #000000;
}

#myInput {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 50px 12px 55px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {
  outline: 3px solid #ddd;
}

.dropdown {
  left: 0;
  display: inline-block;
  margin: auto;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.984)), url(../img/gridbg_glow.png);
  min-width: 230px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content a {
  color: rgb(226, 226, 226);
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 280px;
}

.dropdown a:hover {
  color: rgba(0, 234, 255, 0.992);
}

.dropdown a img {
  padding-right: 20px;
}

.show {
  display: block;

}

/*FIN MENU CHOIX CONSTRUCTEUR*/


.container_equipement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  color: white;
  width: 100%;

}

.container_arme {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  color: white;
  padding: 50px 0;
}

.container_equipement img {
  width: 320px;
  border: 1px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 26px 100%, 0 calc(100% - 26px));
}

.container_arme img {
  width: 320px;
  height: 150px;
  border: 1px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 26px 100%, 0 calc(100% - 26px));
}

.equipement_indiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
  width: 300px;
}

@media screen and (max-width: 766px) {
  .equipement_indiv {
    margin: 30px 20px;
  }
}

@media screen and (max-width: 679px) {
  .container_equipement img {
    width: 400px;
    height: auto;
  }
}

@media screen and (max-width: 400px) {
  .container_equipement img {
    width: 320px;
    height: auto;
  }
}

.arme_indiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.arme_indiv img {
  width: 400px;
  height: 200px;
}

@media screen and (max-width: 550px) {
  .arme_indiv img {
    width: 320px;
    height: 150px;
  }
}

.centered {
  text-decoration: none;
  letter-spacing: 2px;
  line-height: 1em;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(0, 251, 255, 0.837);
}

.hub {
  background: #00fffc;
  width: 7px;
  height: 7px;
  float: left;
  margin-right: 10px;
  box-shadow: 0 0 25px #00B8FF;
  margin-top: 150px;
  margin-top: -10px;
}

.container_contructeur h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 10px;
}

.container_contructeur h1 img {
  width: 60px;
}

.container_contructeur h1,
.container_contructeur p,
.container_contructeur h2,
.container_contructeur li {
  color: white;
}

.container_contructeur h2 {
  margin: 40px;
}

.container_contructeur h2 img {
  width: 30px;
}

.info_construct {
  display: block;
  margin: 0 auto;
  width: 80%;
  box-shadow: rgba(6, 201, 255, 0.25) 0px 50px 100px -20px, rgba(28, 159, 220, 0.3) 0px 30px 60px -30px, rgba(32, 121, 210, 0.35) 0px -2px 6px 0px inset;
}

.info_construct img {
  width: 100%;
}

.info_construct p {
  padding: 15px 30px 20px 30px;
  line-height: 1.5em;
}

@media (max-width: 950px) {
  .info_construct {
    width: 95%;
  }

  .info_construct p {
    padding: 15px 10px 10px 10px;
  }
}

.recherche {
  padding: 150px;
  color: white;
}


.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 40px;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0, 0, 0, .9);
  transition: opacity .25s ease;
  z-index: 100;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked+.modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked+.modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: rgb(10, 10, 10);
  border-radius: 5px;
  padding: 1em 2em;
  height: 80%;
}

.modal__inner ul li,
.modal__inner h2,
.modal__inner p,
.modal__inner h3 {
  color: white;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {

  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}

.btn {
  cursor: pointer;
  background: #000000;
  display: inline-block;
  padding: .5em 1em;
  color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
}



.btn--blue {
  background: #000000;
}

.btn--blue:hover,
.btn--blue:focus {
  background: #000000;
}

.btn--blue:active {
  background: #000000;
}

p img {
  max-width: 200px;
  height: auto;
  float: left;
  margin: 0 1em 1em 0;
}


/*bouton equipement constructeur*/

.container_categorie_construct {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 320px;
  margin-top: 40px;
}

.menu_categorie_construct {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 20px auto;
  text-align: center;
  width: 100%;
  height: 40px;
  transform: translateY(-50%);
  z-index: 1;
  list-style-type: none;
}

.menu_categorie_construct a {
  color: white;
}

.categorie_item_construct {
  height: 100%;
  background-color: var(--light-color);
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  border-radius: 7px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  text-transform: uppercase;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  transform: skew(-21deg);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  margin: 5px;
  padding: 0 40px;
  cursor: pointer;
}


.categorie_item_construct:hover {
  background: #102549;
  color: #FFF;
}


.item_inner_construct {
  display: flex;
  flex-direction: column;
  margin: auto;
  z-index: 2;
  transform: skew(21deg);
}

.item_title_construct {
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


@media all and (max-width: 1000px) {
  .menu_categorie_construct {
    height: 35px;
  }

  .item_title_construct {
    font-size: 11px;
  }

  .categorie_item_construct {
    padding: 0 30px;
  }
}

@media all and (max-width: 710px) {
  .menu_actegorie_construct {
    height: 30px;
  }

  .categorie_item_construct {
    padding: 0 20px;
  }

}

/* constructeur css */
.equipement_transport_construct {
  margin: 30px 0;
}

.container_construct {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  color: white;
  width: 100%;

}


.construct_indiv {
  margin: 40px 20px;
  box-shadow: 0 4px 21px -12px rgba(1, 238, 255, 0.66);
}

.image_construct {
  position: relative;
  z-index: 1;
}

.construct_indiv img {
  width: 400px;
  height: 150px;
}

#logo_constructeur img {
  width: 150px;
  height: 100px;
  position: absolute;
  z-index: 2;
  margin-top: -130px;
  margin-left: -70px;
  border-radius: 50% 1px solid;
  background: var(--medium-light-color);
}