<div class="display-admin">
    <div class="card-admin" data-state="#about">
        <div class="admin-title"><h1>[#CITIZEN_CAT_TITLE#]</h1></div>
        <form class="admin-contenu" id="form-contenu" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="[#CITIZEN_CAT_ID#]" />
            <label for="nom">nom</label><input type="text" name="nom" id="nom" value="[#CITIZEN_CAT_NOM#]" class="input-admin" required[#CITIZEN_CAT_ISPRO#]>
            <div class="two-column add-mod-bt">
                <button class="sauvegarde" id="annuler-form">annuler</button>
                <button class="sauvegarde" id="validation-form">Validation</button>
            </div>
        </form>
    </div>
</div>