<div class="display-admin">
    <div class="card-admin" data-state="#about">
        <div class="admin-title"><h1>Espèce</h1></div>
        <form class="admin-contenu" id="form-contenu" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="[#CITIZEN_ESPECES_ID#]" />
            <div class="two-column">
                <input type="checkbox" name="contenu-visible" id="contenu-visible" class="darkSwitch two-column"[#CITIZEN_ESPECES_MODIF_CHECK#]>
            </div>
            <div class="two-column add-list-img">
                <div id="add-all-img">
                    <input
                    type="File"
                    name="fileToUploadAll[]"
                    id="fileToUploadAll"
                    accept="image/png, image/jpeg"
                    multiple
                    />
                    <figure id="all_img">
                        <label for="fileToUploadAll">
                            <img src="./src/images/plus-square-dotted.svg" alt="add img" id="img-add" class="img-add" />
                        </label>
                        <figure id="add-img" class="drop_img img-and-main">
                            [#CITIZEN_ESPECES_IMG#]
                        </figure>
                    </figure>
                </div>
            </div>
            <label for="nom">nom</label><input type="text" name="nom" id="nom" value="[#CITIZEN_ESPECES_NOM#]" class="input-admin"[#CITIZEN_ESPECES_ISPRO#]>
            <label for="categorie-select">catégorie</label>
            <select name="categorie" id="categorie-select" class="input-admin"[#CITIZEN_ESPECES_ISPRO#]>
                <option value=""></option>[#CITIZEN_ESPECES_CAT#]
            </select>
            <label for="lieu-select">lieu</label>
            <select name="lieu" id="lieu-select" class="input-admin"[#CITIZEN_ESPECES_ISPRO#]>
                <option value=""></option>[#CITIZEN_ESPECES_LIEU#]
            </select>
            <label for="gouvernence">gouvernence</label><input type="text" name="gouvernence" id="gouvernence" value="[#CITIZEN_ESPECES_GOUV#]" class="input-admin"[#CITIZEN_ESPECES_ISPRO#]>
            <label for="souverainete">souverainete</label><input type="text" name="souverainete" id="souverainete" value="[#CITIZEN_ESPECES_SOUV#]" class="input-admin"[#CITIZEN_ESPECES_ISPRO#]>
            <label for="philosophie">philosophie</label><input type="text" name="philosophie" id="philosophie" value="[#CITIZEN_ESPECES_PHILO#]" class="input-admin"[#CITIZEN_ESPECES_ISPRO#]>
            <label for="religion">religion</label><input type="text" name="religion" id="religion" value="[#CITIZEN_ESPECES_RELIGION#]" class="input-admin"[#CITIZEN_ESPECES_ISPRO#]>
            <label for="premier_cont">premier cont</label><input type="text" name="premier_cont" id="premier_cont" value="[#CITIZEN_ESPECES_PRCT#]" class="input-admin"[#CITIZEN_ESPECES_ISPRO#]>
            <label for="origine">origine</label><input type="text" name="origine" id="origine" value="[#CITIZEN_ESPECES_ORIGINE#]" class="input-admin"[#CITIZEN_ESPECES_ISPRO#]>
            <label for="contenu">contenu</label><textarea name="contenu" id="contenu" cols="30" rows="10" class="input-admin text-bbcode"[#CITIZEN_ESPECES_ISPRO#]>[#CITIZEN_ESPECES_CONTENU#]</textarea>
            <input type="radio" class="radio-onglet" id="onglet-info" name="radio-onglet" value="" checked>
            <input type="radio" class="radio-onglet" id="onglet-diplom" name="radio-onglet" value="">
            <input type="radio" class="radio-onglet" id="onglet-contro" name="radio-onglet" value="">
            <div id="div-all-tab" class="two-column">
                <div id="div-ul-onglets">
                    <ul id="onglets">
                        <li id="label-onglet-info"><label for="onglet-info"> Informations </label></li>
                        <li id="label-onglet-diplom"><label for="onglet-diplom"> Diplomatie </label></li>
                        <li id="label-onglet-contro"><label for="onglet-contro"> Controller </label></li>
                    </ul>
                </div>
                <div class="div-onglet" id="div-onglet-info">
                    <button class="sauvegarde bt-dialog-add" id="add-info">Ajouter une information</button>
                    <input type="checkbox" name="tb-display-check-info" class="tb-display-check">
                    <p class="text-tbody-empty">La liste est vide</p>
                    <table class="tbody-no-empty">
                        <tr>
                            <th>Nom</th>
                            <th class="th-admin"><img src="./src/images/pencil-fill.svg" alt=""></th>
                            <th class="th-admin"><img src="./src/images/trash3-fill.svg" alt=""></th>
                        </tr>
                        <tbody class="tab-body-td tab-body-all-dial">
                            [#CITIZEN_ESPECES_TAB_INFO#]
                        </tbody>
                    </table>
                </div>
                <div class="div-onglet" id="div-onglet-diplom">
                    <button class="sauvegarde bt-dialog-add" id="add-diplom">Ajouter une diplomatie</button>
                    <input type="checkbox" name="tb-display-check-diplom" class="tb-display-check">
                    <p class="text-tbody-empty">La liste est vide</p>
                    <table class="tbody-no-empty">
                        <tr>
                            <th>Nom</th>
                            <th class="th-admin"><img src="./src/images/pencil-fill.svg" alt=""></th>
                            <th class="th-admin"><img src="./src/images/trash3-fill.svg" alt=""></th>
                        </tr>
                        <tbody class="tab-body-td tab-body-all-dial">
                            [#CITIZEN_ESPECES_TAB_DIPLO#]
                        </tbody>
                    </table>
                </div>
                <div class="div-onglet" id="div-onglet-contro">
                    <button class="sauvegarde bt-dialog-add" id="add-contro">Ajouter un contrôle</button>
                    <input type="checkbox" name="tb-display-check-contro" class="tb-display-check">
                    <p class="text-tbody-empty">La liste est vide</p>
                    <table class="tbody-no-empty">
                        <tr>
                            <th>Nom</th>
                            <th class="th-admin"><img src="./src/images/pencil-fill.svg" alt=""></th>
                            <th class="th-admin"><img src="./src/images/trash3-fill.svg" alt=""></th>
                        </tr>
                        <tbody class="tab-body-td tab-body-all-dial">
                            [#CITIZEN_ESPECES_TAB_CONTROLLER#]
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="two-column add-mod-bt">
                <button class="sauvegarde" id="annuler-form">annuler</button>
                <button class="sauvegarde" id="validation-form">Validation</button>
            </div>
        </form>
    </div>
</div>