<div class="display-admin">
    <div class="card-admin" data-state="#about">
        <div class="admin-title"><h1>Transport</h1></div>
        <form class="admin-contenu" id="form-contenu" method="post" enctype="multipart/form-data">
            <input type="hidden" name="folder-img" value="transport" />
            <input type="hidden" name="type-obj" value="[#CITIZEN_TYPE_OBJ#]" />
            <input type="hidden" name="id" value="[#CITIZEN_TRANSP_ID#]" />
            <div class="two-column">
                <input type="checkbox" name="contenu-visible" id="contenu-visible" class="darkSwitch two-column"[#CITIZEN_TRANSP_MODIF_CHECK#]>
            </div>
            <div class="two-column add-list-img">
                <div id="add-all-img">
                    <input
                    type="File"
                    name="fileToUploadAll[]"
                    id="fileToUploadAll"
                    accept="image/png, image/jpeg"
                    multiple
                    />
                    <figure id="all_img">
                        <label for="fileToUploadAll">
                            <img src="./src/images/plus-square-dotted.svg" alt="add img" id="img-add" class="img-add" />
                        </label>
                        <figure id="add-img" class="drop_img img-and-main">
                            [#CITIZEN_TRANSP_IMG#]
                        </figure>
                    </figure>
                </div>
            </div>
            <label for="nom">nom</label><input type="text" name="nom" id="nom" value="[#CITIZEN_TRANSP_NOM#]" class="input-admin" required[#CITIZEN_TRANSP_ISPRO#]>
            <label for="categorie">catégorie</label>
            <select name="categorie" id="categorie" class="input-admin" required[#CITIZEN_TRANSP_ISPRO#]>
                <option value=""></option>[#CITIZEN_TRANSP_CAT#]
            </select>
            <label for="disponible">disponible</label>
            <select name="disponible" id="disponible" class="input-admin" required[#CITIZEN_TRANSP_ISPRO#]>
                <option value=""></option>[#CITIZEN_TRANSP_DISP#]
            </select>
            <label for="type">type</label>
            <select name="type" id="type" class="input-admin" required[#CITIZEN_TRANSP_ISPRO#]>
                <option value=""></option>[#CITIZEN_TRANSP_TYPE#]
            </select>
            <label for="construct">construct</label>
            <select name="construct" id="construct" class="input-admin" required[#CITIZEN_TRANSP_ISPRO#]>
                <option value=""></option>[#CITIZEN_TRANSP_CONSTRUCT#]
            </select>
            <label for="prix">prix</label><input type="text" name="prix" id="prix" value="[#CITIZEN_TRANSP_PRIX#]" class="input-admin" required[#CITIZEN_TRANSP_ISPRO#]>
            <label for="equipage">équipage</label><input type="text" name="equipage" id="equipage" value="[#CITIZEN_TRANSP_EQUIPAGE#]" class="input-admin" required[#CITIZEN_TRANSP_ISPRO#]>
            <label for="taille">taille</label><input type="text" name="taille" id="taille" value="[#CITIZEN_TRANSP_TAILLE#]" class="input-admin" required[#CITIZEN_TRANSP_ISPRO#]>
            <label for="poids">poids</label><input type="text" name="poids" id="poids" value="[#CITIZEN_TRANSP_POIDS#]" class="input-admin" required[#CITIZEN_TRANSP_ISPRO#]>
            <label for="vitesse-max">vitesse max</label><input type="text" name="vitesse-max" id="vitesse-max" value="[#CITIZEN_TRANSP_VITESSMAX#]" class="input-admin" required[#CITIZEN_TRANSP_ISPRO#]>
            <label for="capacite">capacite</label><input type="text" name="capacite" id="capacite" value="[#CITIZEN_TRANSP_CAPACITE#]" class="input-admin" required[#CITIZEN_TRANSP_ISPRO#]>
            <label for="lien">lien</label
                ><input
                  type="text"
                  name="lien"
                  id="lien"
                  value="[#CITIZEN_TRANSP_LIEN#]"
                  class="input-admin"
                  required
                  [#CITIZEN_TRANSP_ISPRO#]
                />
            <label for="contenu">contenu</label><textarea name="contenu" id="contenu" cols="30" rows="10" class="input-admin text-bbcode" required[#CITIZEN_TRANSP_ISPRO#]>[#CITIZEN_TRANSP_CONTENU#]</textarea>
            <input type="radio" class="radio-onglet" id="onglet-info" name="radio-onglet" value="" checked>
            <input type="radio" class="radio-onglet" id="onglet-force" name="radio-onglet" value="">
            <input type="radio" class="radio-onglet" id="onglet-faibl" name="radio-onglet" value="">
            <input type="radio" class="radio-onglet" id="onglet-equip" name="radio-onglet" value="">
            <input type="radio" class="radio-onglet" id="onglet-arm" name="radio-onglet" value="">
            <input type="radio" class="radio-onglet" id="onglet-lieu" name="radio-onglet" value="">
            <div id="div-all-tab" class="two-column">
                <div id="div-ul-onglets">
                    <ul id="onglets">
                        <li id="label-onglet-info"><label for="onglet-info"> Informations </label></li>
                        <li id="label-onglet-force"><label for="onglet-force"> Force </label></li>
                        <li id="label-onglet-faibl"><label for="onglet-faibl"> Faiblesse </label></li>
                        <li id="label-onglet-equip"><label for="onglet-equip"> Equipement </label></li>
                        <li id="label-onglet-arm"><label for="onglet-arm"> Armement </label></li>
                        <li id="label-onglet-lieu"><label for="onglet-lieu"> Lieux </label></li>
                    </ul>
                </div>
                <div class="div-onglet" id="div-onglet-info">
                    <button class="sauvegarde bt-dialog-add" id="add-info">Ajouter une information</button>
                    <input type="checkbox" name="tb-display-check-info" class="tb-display-check">
                    <p class="text-tbody-empty">La liste est vide</p>
                    <table class="tbody-no-empty">
                        <tr>
                            <th>Informations</th>
                            <th class="th-admin"><img src="./src/images/pencil-fill.svg" alt=""></th>
                            <th class="th-admin"><img src="./src/images/trash3-fill.svg" alt=""></th>
                        </tr>
                        <tbody class="tab-body-td tab-body-all-dial">
                            [#CITIZEN_TRANSP_TAB_INFO#]
                        </tbody>
                    </table>
                </div>
                <div class="div-onglet" id="div-onglet-force">
                    <button class="sauvegarde bt-dialog-add" id="add-force">Ajouter une force</button>
                    <input type="checkbox" name="tb-display-check-force" class="tb-display-check">
                    <p class="text-tbody-empty">La liste est vide</p>
                    <table class="tbody-no-empty">
                        <tr>
                            <th>Nom</th>
                            <th class="th-admin"><img src="./src/images/pencil-fill.svg" alt=""></th>
                            <th class="th-admin"><img src="./src/images/trash3-fill.svg" alt=""></th>
                        </tr>
                        <tbody class="tab-body-td tab-body-all-dial">
                            [#CITIZEN_TRANSP_TAB_FORCE#]
                        </tbody>
                    </table>
                </div>
                <div class="div-onglet" id="div-onglet-faibl">
                    <button class="sauvegarde bt-dialog-add" id="add-faibl">Ajouter une faiblesse</button>
                    <input type="checkbox" name="tb-display-check-faibl" class="tb-display-check">
                    <p class="text-tbody-empty">La liste est vide</p>
                    <table class="tbody-no-empty">
                        <tr>
                            <th>Nom</th>
                            <th class="th-admin"><img src="./src/images/pencil-fill.svg" alt=""></th>
                            <th class="th-admin"><img src="./src/images/trash3-fill.svg" alt=""></th>
                        </tr>
                        <tbody class="tab-body-td tab-body-all-dial">
                            [#CITIZEN_TRANSP_TAB_FAIBL#]
                        </tbody>
                    </table>
                </div>
                <div class="div-onglet" id="div-onglet-equip">
                    <button class="sauvegarde bt-dialog-add" id="add-equip">Ajouter un équipement</button>
                    <input type="checkbox" name="tb-display-check-equip" class="tb-display-check">
                    <p class="text-tbody-empty">La liste est vide</p>
                    <table class="tbody-no-empty">
                        <tr>
                            <th>Nom</th>
                            <th class="th-admin"><img src="./src/images/pencil-fill.svg" alt=""></th>
                            <th class="th-admin"><img src="./src/images/trash3-fill.svg" alt=""></th>
                        </tr>
                        <tbody class="tab-body-td tab-body-all-dial">
                            [#CITIZEN_TRANSP_TAB_EQUIPEM#]
                        </tbody>
                    </table>
                </div>
                <div class="div-onglet" id="div-onglet-arm">
                    <button class="sauvegarde bt-dialog-add" id="add-arm">Ajouter un armement</button>
                    <input type="checkbox" name="tb-display-check-arm" class="tb-display-check">
                    <p class="text-tbody-empty">La liste est vide</p>
                    <table class="tbody-no-empty">
                        <tr>
                            <th>Nom</th>
                            <th class="th-admin"><img src="./src/images/pencil-fill.svg" alt=""></th>
                            <th class="th-admin"><img src="./src/images/trash3-fill.svg" alt=""></th>
                        </tr>
                        <tbody class="tab-body-td tab-body-all-dial">
                            [#CITIZEN_TRANSP_TAB_ARM#]
                        </tbody>
                    </table>
                </div>
                <div class="div-onglet" id="div-onglet-lieu">
                    <button class="sauvegarde bt-dialog-add" id="add-lieu">Ajouter un lieu</button>
                    <input type="checkbox" name="tb-display-check-lieu" class="tb-display-check">
                    <p class="text-tbody-empty">La liste est vide</p>
                    <table class="tbody-no-empty">
                        <tr>
                            <th>Nom</th>
                            <th class="th-admin"><img src="./src/images/pencil-fill.svg" alt=""></th>
                            <th class="th-admin"><img src="./src/images/trash3-fill.svg" alt=""></th>
                        </tr>
                        <tbody class="tab-body-td tab-body-all-dial">
                            [#CITIZEN_TRANSP_TAB_LIEU#]
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="two-column add-mod-bt">
                <button class="sauvegarde" id="annuler-form">annuler</button>
                <button class="sauvegarde" id="validation-form">Validation</button>
            </div>
        </form>
    </div>
</div>