<div class="display-admin">
    <div class="card-admin" data-state="#about">
        <div class="admin-title"><h1>Armement vaisseau</h1></div>
        <form class="admin-contenu" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="[#CITIZEN_ARM_VAISS_ID#]" />
            <div class="two-column">
                <input type="checkbox" class="darkSwitch two-column"[#CITIZEN_ARM_VAISS_MODIF_CHECK#]>
            </div>
            <div class="two-column add-list-img">
                <img class="img-add" id="img-art-add" src="./src/images/plus-square-dotted.svg" alt="add img"[#CITIZEN_ARM_VAISS_ISPRO#]>
                <div class="list_img">[#CITIZEN_ARM_VAISS_IMG#]</div>
            </div>
            <img src="" alt="" class="two-column">
            <label for="label-1">nom</label><input type="text" name="" id="" value="[#CITIZEN_ARM_VAISS_NOM#]" class="input-admin"[#CITIZEN_ARM_VAISS_ISPRO#]>
            <label for="label-1">taille</label>
            <select name="categorie" id="categorie-select" class="input-admin"[#CITIZEN_ARM_VAISS_ISPRO#]>
                <option value=""></option>[#CITIZEN_ARM_VAISS_TAILLE#]
            </select>
            <label for="label-1">constructeur</label>
            <select name="categorie" id="categorie-select" class="input-admin"[#CITIZEN_ARM_VAISS_ISPRO#]>
                <option value=""></option>[#CITIZEN_ARM_VAISS_CONST#]
            </select>
            <label for="label-1">contenu</label><textarea name="" id="" cols="30" rows="10" class="input-admin text-bbcode"[#CITIZEN_ARM_VAISS_ISPRO#]>[#CITIZEN_ARM_VAISS_CONTENU#]</textarea>
            <input type="radio" class="radio-onglet" id="onglet-info" name="radio-onglet" value="" checked>
            <input type="radio" class="radio-onglet" id="onglet-lieu" name="radio-onglet" value="">
            <div id="div-all-tab" class="two-column">
                <div id="div-ul-onglets">
                    <ul id="onglets">
                        <li id="label-onglet-info"><label for="onglet-info"> Informations </label></li>
                        <li id="label-onglet-lieu"><label for="onglet-lieu"> Lieux </label></li>
                    </ul>
                </div>
                <div class="div-onglet" id="div-onglet-info">
                    <button class="sauvegarde" id="add-lieu">Ajouter une information</button>
                    <table id="tab-all">
                        <tr>
                            <th>Informations</th>
                            <th class="th-admin"><img src="./src/images/pencil-fill.svg" alt=""></th>
                            <th class="th-admin"><img src="./src/images/trash3-fill.svg" alt=""></th>
                        </tr>
                        <tbody class="tab-body-td" id="tab-body-all">
                            [#CITIZEN_ARM_VAISS_TAB_INFO#]
                        </tbody>
                    </table>
                </div>
                <div class="div-onglet" id="div-onglet-lieu">
                    <button class="sauvegarde" id="add-lieu">Ajouter un lieu</button>
                    <table id="tab-all">
                        <tr>
                            <th>Nom</th>
                            <th class="th-admin"><img src="./src/images/pencil-fill.svg" alt=""></th>
                            <th class="th-admin"><img src="./src/images/trash3-fill.svg" alt=""></th>
                        </tr>
                        <tbody class="tab-body-td" id="tab-body-all">
                            [#CITIZEN_ARM_VAISS_TAB_LIEU#]
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="two-column add-mod-bt">
                <button class="sauvegarde" id="annuler">annuler</button>
                <button class="sauvegarde" id="validation">Validation</button>
            </div>
        </form>
    </div>
</div>