<div class="display-admin">
    <div class="card-admin" data-state="#about">
        <div class="admin-title"><h1>Lieu</h1></div>
        <form class="admin-contenu" id="form-contenu" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="[#CITIZEN_LIEU_ID#]" />
            <div class="two-column">
                <input type="checkbox" name="contenu-visible" id="contenu-visible" class="darkSwitch two-column"[#CITIZEN_LIEU_MODIF_CHECK#]>
            </div>
            <div class="two-column add-list-img">
                <div id="add-all-img">
                    <input
                    type="File"
                    name="fileToUploadAll[]"
                    id="fileToUploadAll"
                    accept="image/png, image/jpeg"
                    multiple
                    />
                    <figure id="all_img">
                        <label for="fileToUploadAll">
                            <img src="./src/images/plus-square-dotted.svg" alt="add img" id="img-add" class="img-add" />
                        </label>
                        <figure id="add_img" class="drop_img">
                            [#CITIZEN_LIEU_IMG#]
                        </figure>
                    </figure>
                </div>
            </div>
            <label for="nom">nom</label><input type="text" name="nom" id="nom" value="[#CITIZEN_LIEU_NOM#]" class="input-admin"[#CITIZEN_LIEU_ISPRO#]>
            <label for="habitable">habitable</label><div><input name="habitable" id="habitable" type="checkbox" class="darkSwitch two-column"[#CITIZEN_LIEU_HABIT_CHECK#]></div>
            <label for="categorie-select">catégorie</label>
            <select name="categorie" id="categorie-select" class="input-admin"[#CITIZEN_ARTI_ISPRO#]>
                <option value=""></option>[#CITIZEN_LIEU_CAT#]
            </select>
            <label for="risque-select">risque</label>
            <select name="risque" id="risque-select" class="input-admin"[#CITIZEN_ARTI_ISPRO#]>
                <option value=""></option>[#CITIZEN_LIEU_RISQUE#]
            </select>
            <label for="lier-select">lier</label>
            <select name="lier" id="lier-select" class="input-admin"[#CITIZEN_ARTI_ISPRO#]>
                <option value=""></option>[#CITIZEN_LIEU_LIER#]
            </select>
            <label for="contenu">contenu</label><textarea name="contenu" id="contenu" cols="30" rows="10" class="input-admin text-bbcode"[#CITIZEN_LIEU_ISPRO#]>[#CITIZEN_LIEU_CONTENU#]</textarea>
            <input type="radio" class="radio-onglet" id="onglet-info" name="radio-onglet" value="" checked>
            <div id="div-all-tab" class="two-column">
                <div id="div-ul-onglets">
                    <ul id="onglets">
                        <li id="label-onglet-info"><label for="onglet-info"> Informations </label></li>
                    </ul>
                </div>
                <div class="div-onglet" id="div-onglet-info">
                    <button class="sauvegarde bt-dialog-add" id="add-info">Ajouter une information</button>
                    <table id="tab-all">
                        <tr>
                            <th>Informations</th>
                            <th class="th-admin"><img src="./src/images/pencil-fill.svg" alt=""></th>
                            <th class="th-admin"><img src="./src/images/trash3-fill.svg" alt=""></th>
                        </tr>
                        <tbody class="tab-body-td" id="tab-body-all">
                            [#CITIZEN_LIEU_TAB_INFO#]
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="two-column add-mod-bt">
                <button class="sauvegarde" id="annuler-form">annuler</button>
                <button class="sauvegarde" id="validation-form">Validation</button>
            </div>
        </form>
    </div>
</div>