<div class="display-admin">
    <div class="card-admin" data-state="#about">
        [#CITIZEN_TAB_CHOICE#]
        <div class="admin-title"><h1>[#CITIZEN_TAB_NAME#]</h1></div>
        <div class="admin-contenu-tab">
            <input type="hidden" name="folder-img" id="folder-img" value="[#CITIZEN_FOLDER_IMG#]" />
            <input type="hidden" name="nbpg" id="nbpg" value="[#CITIZEN_TAB_NBPG#]">
            <input type="hidden" name="nmpg" id="nmpg" value="[#CITIZEN_TAB_NMPG#]">
            <button id="add-tab" class="two-column sauvegarde">Ajouter</button>
            <input type="checkbox" name="tb-display-check" class="tb-display-check">
            <p class="text-tbody-empty">La liste est vide</p>
            <table class="tbody-no-empty">
                <tr>
                    <th>Nom</th>
                    <th class="th-admin-visible">Visible</th>
                    <th class="th-admin"><img src="./src/images/pencil-fill.svg" alt=""></th>
                    <th class="th-admin"><img src="./src/images/trash3-fill.svg" alt=""></th>
                </tr>
                <tbody class="tab-body-td" id="tab-body-all">
                    [#CITIZEN_TAB_ALL#]
                </tbody>
            </table>
            <div id="pagination"></div>
        </div>
    </div>
</div>