:root {
    --body-color: #89b1c4;
    --primary-color: rgb(13, 171, 206);
    --blue-vert-color: rgb(7, 62, 74);
    --text-color: rgb(42, 103, 110);
    --secondary-color: #ffae00;
    --white-color: #fff;
    --medium-light-color: rgba(5, 27, 42, 0.945);
    --light-color: rgba(22, 104, 159, 0.2);
    --blue-color: rgba(10, 24, 34, 0.921);
    --line-color: #0a5688;
    --dark-black-color: rgb(10, 37, 53);
    --light-black-color: #1a252d;
    --shadow-color: #0074c2;
    --transparent-color: transparent;
}

/*#admin_contenu_menu {
    display: grid;
    grid-template-columns: auto 1fr;
}*/

#admin_menu {
    position: fixed;
    padding: 10px;
    background: var(--light-color);
    width: 220px;
    height: 100vh;
    border: #0a5688 1px solid;
}

#admin_menu ul {
    list-style:none;
}

#admin_menu li {
    margin-top: 10px;
    margin-bottom: 10px;
}

#admin_contenu {
    margin-left: 220px;
}

footer {
    margin-left: 220px;
    box-sizing: border-box;
    width: unset;
}

.display-admin {
    color: #ffffff;
    font-family: "Jost", sans-serif;
    background: linear-gradient(to bottom, rgba(43, 43, 43, 0.111) 0%, rgba(5, 84, 255, 0.263) 54%, rgba(0, 0, 0, 0.111) 100%);
    display: flex;
    flex-wrap: wrap;
    padding: 150px 20px;
    width: 100%;
}

.card-admin {
    margin: auto;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    background-color: rgb(6, 6, 6);
    display: flex;
    transition: 0.3s;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 0 8px rgb(255 255 255 / 20%);
    width: 80%;
}

.admin-title {
    background: linear-gradient(to bottom, rgba(43, 43, 43, 0.111) 0%, rgba(5, 84, 255, 0.263) 54%, rgba(0, 0, 0, 0.111) 100%);
    padding: 10px;
    width: 100%;
}

.admin-title h1 {
    text-align: center;
}

.admin-contenu {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    padding: 15px 25px;
    align-items: center;
}

.admin-contenu label {
    text-align: right;
}

.admin-contenu input, .admin-contenu textarea, .admin-contenu select {
    width: 100%;
    box-shadow: 0 0 5px 0;
    background: #9cd7ffa6;
    backdrop-filter: blur(10px);
    outline: none;
    border-radius: 5px;
    border: 1px #0000ff45 solid;
    padding: 3px;
}

.admin-contenu label, .admin-contenu input, .admin-contenu textarea, .admin-contenu select {
    margin: 5px !important;
}

.admin-contenu .two-column {
    grid-column: 1 / 3;
    text-align: center;
    width: auto;
}
