<div class="display-admin">
    <div class="card-admin" data-state="#about">
        <div class="admin-title"><h1>Articles</h1></div>
        <form class="admin-contenu" id="form-contenu" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="[#CITIZEN_ARTI_ID#]" />
            <div class="two-column">
                <input type="checkbox" name="contenu-visible" id="contenu-visible" class="darkSwitch two-column"[#CITIZEN_ARTI_MODIF_CHECK#]>
            </div>
            <div class="two-column add-list-img">
                <div id="add-all-img">
                    <input
                    type="File"
                    name="fileToUploadAll[]"
                    id="fileToUploadAll"
                    accept="image/png, image/jpeg"
                    multiple
                    />
                    <figure id="all_img">
                        <label for="fileToUploadAll">
                            <img src="./src/images/plus-square-dotted.svg" alt="add img" id="img-add" class="img-add" />
                        </label>
                        <figure id="add_img" class="drop_img">
                            [#CITIZEN_ARTI_IMG#]
                        </figure>
                    </figure>
                </div>
            </div>
            <label for="titre">titre</label><input type="text" name="titre" id="titre" value="[#CITIZEN_ARTI_TITRE#]" class="input-admin"[#CITIZEN_ARTI_ISPRO#]>
            <label for="video">vidéo</label><input type="text" name="video" id="video" value="[#CITIZEN_ARTI_VIDEO#]" class="input-admin"[#CITIZEN_ARTI_ISPRO#]>
            <label for="categorie-select">catégorie</label>
            <select name="categorie" id="categorie-select" class="input-admin"[#CITIZEN_ARTI_ISPRO#]>
                <option value=""></option>[#CITIZEN_ARTI_CAT#]
            </select>
            <label for="contenu">contenu</label><textarea name="contenu" id="contenu" cols="30" rows="10" class="input-admin text-bbcode"[#CITIZEN_ARTI_ISPRO#]>[#CITIZEN_ARTI_CONTENU#]</textarea>
            <label for="resume">résumé</label><textarea name="resume" id="resume" cols="30" rows="10" class="input-admin text-bbcode"[#CITIZEN_ARTI_ISPRO#]>[#CITIZEN_ARTI_RESUME#]</textarea>
            <input type="radio" class="radio-onglet" id="onglet-gplayType" name="radio-onglet" value="" checked>
            <div id="div-all-tab" class="two-column">
                <div id="div-ul-onglets">
                    <ul id="onglets">
                        <li id="label-onglet-gplayType"><label for="onglet-gplayType"> Gameplay type </label></li>
                    </ul>
                </div>
                <div class="div-onglet" id="div-onglet-gplayType">
                    <button class="sauvegarde bt-dialog-add" id="add-lieu">Ajouter un gameplay type</button>
                    <table>
                        <tr>
                            <th>Nom</th>
                            <th class="th-admin"><img src="./src/images/pencil-fill.svg" alt=""></th>
                            <th class="th-admin"><img src="./src/images/trash3-fill.svg" alt=""></th>
                        </tr>
                        <tbody class="tab-body-td tab-body-all-dial">
                            [#CITIZEN_ARTI_TAB_GPLAY_TYPE#]
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="two-column add-mod-bt">
                <button class="sauvegarde" id="annuler-form">annuler</button>
                <button class="sauvegarde" id="validation-form">Validation</button>
            </div>
        </form>
    </div>
</div>