<div class="display-admin">
    <div class="card-admin" data-state="#about">
        <div class="admin-title"><h1>Screen</h1></div>
        <div class="admin-contenu">
            <input type="hidden" name="id" value="[#CITIZEN_SCREEN_ID#]" />
            <div class="two-column">
                <input type="checkbox" class="darkSwitch two-column"[#CITIZEN_SCREEN_MODIF_CHECK#]>
            </div>
            <div class="two-column add-list-img">
                <img class="img-add" id="img-screen" src="[#CITIZEN_SCREEN_IMG#]" alt="add img"[#CITIZEN_SCREEN_ISPRO#]>
            </div>
            <label for="label-1">nom</label><input type="text" name="" id="" value="[#CITIZEN_SCREEN_NOM#]" class="input-admin"[#CITIZEN_SCREEN_ISPRO#]>
            <label for="label-1">alt</label><input type="text" name="" id="" value="[#CITIZEN_SCREEN_ALT#]" class="input-admin"[#CITIZEN_SCREEN_ISPRO#]>
            <div class="two-column add-mod-bt">
                <button class="sauvegarde" id="annuler">annuler</button>
                <button class="sauvegarde" id="validation">Validation</button>
            </div>
        </div>
    </div>
</div>