<div class="display-admin">
    <div class="card-admin" data-state="#about">
        <div class="admin-title"><h1>Articles</h1></div>
        <form class="admin-contenu" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="[#CITIZEN_ARTI_ID#]" />
            <div class="two-column">
                <input type="checkbox" class="darkSwitch two-column"[#CITIZEN_ARTI_MODIF_CHECK#]>
            </div>
            <div class="two-column add-list-img">
                <img class="img-add" id="img-art-add" src="./src/images/plus-square-dotted.svg" alt="add img"[#CITIZEN_ARTI_ISPRO#]>
                <div class="list_img">[#CITIZEN_ARTI_IMG#]</div>
            </div>
            <img src="" alt="" class="two-column">
            <label for="label-1">titre</label><input type="text" name="titre" id="" value="[#CITIZEN_ARTI_TITRE#]" class="input-admin"[#CITIZEN_ARTI_ISPRO#]>
            <label for="label-1">vidéo</label><input type="text" name="" id="" value="[#CITIZEN_ARTI_VIDEO#]" class="input-admin"[#CITIZEN_ARTI_ISPRO#]>
            <label for="label-1">catégorie</label>
            <select name="categorie" id="categorie-select" class="input-admin"[#CITIZEN_ARTI_ISPRO#]>
                <option value=""></option>[#CITIZEN_ARTI_CAT#]
            </select>
            <label for="label-1">contenu</label><textarea name="" id="" cols="30" rows="10" class="input-admin text-bbcode"[#CITIZEN_ARTI_ISPRO#]>[#CITIZEN_ARTI_CONTENU#]</textarea>
            <label for="label-1">résumé</label><textarea name="" id="" cols="30" rows="10" class="input-admin text-bbcode"[#CITIZEN_ARTI_ISPRO#]>[#CITIZEN_ARTI_RESUME#]</textarea>
            <input type="radio" class="radio-onglet" id="onglet-gplay-type" name="radio-onglet" value="" checked>
            <div id="div-all-tab" class="two-column">
                <div id="div-ul-onglets">
                    <ul id="onglets">
                        <li id="label-gplay-type"><label for="gplay-type"> Gameplay type </label></li>
                    </ul>
                </div>
                <div class="div-onglet" id="div-gplay-type">
                    <button class="sauvegarde" id="add-lieu">Ajouter un gameplay type</button>
                    <table>
                        <tr>
                            <th>Nom</th>
                            <th class="th-admin"><img src="./src/images/pencil-fill.svg" alt=""></th>
                            <th class="th-admin"><img src="./src/images/trash3-fill.svg" alt=""></th>
                        </tr>
                        <tbody class="tab-body-td" id="tab-body-all">
                            [#CITIZEN_ARTI_TAB_GPLAY_TYPE#]
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="two-column add-mod-bt">
                <button class="sauvegarde" id="annuler">annuler</button>
                <button class="sauvegarde" id="validation">Validation</button>
            </div>
        </form>
    </div>
</div>