<div class="two-column admin-title"><h1>Equipement</h1></div>
<label for="dialog-nom">nom</label
><input
  type="text"
  name="nom"
  id="dialog-nom"
  value="[#CITIZEN_ADD_TRANSP_NOM#]"
  class="input-admin"
  [#CITIZEN_ADD_TRANSP_ISPRO#]
/>
<label for="dialog-prix">prix</label
><input
  type="text"
  name="prix"
  id="dialog-prix"
  value="[#CITIZEN_ADD_TRANSP_PRIX#]"
  class="input-admin"
  [#CITIZEN_ADD_TRANSP_ISPRO#]
/>
<label for="dialog-contenu">contenu</label
><textarea
  name="contenu"
  id="dialog-contenu"
  cols="30"
  rows="10"
  class="input-admin text-bbcode"
  [#CITIZEN_ADD_TRANSP_ISPRO#]
>
[#CITIZEN_ADD_TRANSP_CONTENU#]</textarea
>
