<div class="two-column admin-title"><h1>Informations</h1></div>
      <div class="two-column add-list-img">
        <div id="add-all-img-add">
            <input
            type="File"
            name="fileToUploadAll-add[]"
            id="fileToUploadAll-add"
            accept="image/png, image/jpeg"
            multiple
            />
            <figure id="all_img-add">
                <label for="fileToUploadAll-add">
                    <img src="./src/images/plus-square-dotted.svg" alt="add img" id="img-add" class="img-add" />
                </label>
                <figure id="all-img-add" class="drop_img">
                    [#CITIZEN_ADD_INFO_IMG#]
                </figure>
            </figure>
        </div>
      </div>
      <label for="dialog-nom">nom</label
      ><input
        type="text"
        name="nom"
        id="dialog-nom"
        value="[#CITIZEN_ADD_INFO_NOM#]"
        class="input-admin"
        [#CITIZEN_ADD_INFO_ISPRO#]
      />
      <label for="dialog-contenu">contenu</label
      ><textarea
        name="contenu"
        id="dialog-contenu"
        cols="30"
        rows="10"
        class="input-admin text-bbcode"
        [#CITIZEN_ADD_INFO_ISPRO#]
      >
[#CITIZEN_ADD_INFO_CONTENU#]</textarea
      >