<div class="two-column admin-title"><h1>Informations</h1></div>
      <label for="dialog-nom">nom</label
      ><input
        type="text"
        name="nom"
        id="dialog-nom"
        value="[#CITIZEN_ADD_INFO_NOM#]"
        class="input-admin"
        [#CITIZEN_ADD_INFO_ISPRO#]
      />
      <label for="dialog-contenu">contenu</label
      ><textarea
        name="contenu"
        id="dialog-contenu"
        cols="30"
        rows="10"
        class="input-admin text-bbcode"
        [#CITIZEN_ADD_INFO_ISPRO#]
      >
[#CITIZEN_ADD_INFO_CONTENU#]</textarea
      >