<div class="two-column admin-title"><h1>Lieu</h1></div>
<label for="dialog-lieu-select">lieu</label>
<select name="lieu" id="dialog-lieu-select" class="input-admin" required[#CITIZEN_DIALOG_ISPRO#]>
    <option value=""></option>[#CITIZEN_DIALOG_LIEU#]
</select>
<label for="dialog-couleur-select">couleur</label>
<select name="couleur" id="dialog-couleur-select" class="input-admin" required[#CITIZEN_DIALOG_ISPRO#]>
    <option value=""></option>[#CITIZEN_DIALOG_COULEUR#]
</select>
<label for="dialog-prix-select">prix</label>
<input
        type="text"
        name="prix" id="dialog-prix-select"
        value="[#CITIZEN_DIALOG_PRIX#]"
        class="input-admin"
        required
        [#CITIZEN_DIALOG_ISPRO#]
      />