<div class="two-column admin-title"><h1>Lieu</h1></div>
<label for="dialog-lieu-select">lieu</label>
<select name="lieu" id="dialog-lieu-select" class="input-admin"[#CITIZEN_DIALOG_ISPRO#]>
    <option value=""></option>[#CITIZEN_DIALOG_LIEU#]
</select>
<label for="dialog-prix-vente-select">prix vente</label>
<input
        type="text"
        name="prix-vente" id="dialog-prix-vente-select"
        value="[#CITIZEN_DIALOG_PRIX_VENT#]"
        class="input-admin"
        required
        [#CITIZEN_DIALOG_ISPRO#]
      />
<label for="dialog-prix-achat-select">prix achat</label>
<input
        type="text"
        name="prix-achat" id="dialog-prix-achat-select"
        value="[#CITIZEN_DIALOG_PRIX_ACHAT#]"
        class="input-admin"
        required
        [#CITIZEN_DIALOG_ISPRO#]
      />
<label for="dialog-actu-min-select">actu min</label>
<input
        type="text"
        name="actu-min" id="dialog-actu-min-select"
        value="[#CITIZEN_DIALOG_ACTU_MIN#]"
        class="input-admin"
        required
        [#CITIZEN_DIALOG_ISPRO#]
      />
<label for="dialog-inv-max-select">inv max</label>
<input
        type="text"
        name="inv-max" id="dialog-inv-max-select"
        value="[#CITIZEN_DIALOG_INV_MAX#]"
        class="input-admin"
        required
        [#CITIZEN_DIALOG_ISPRO#]
      />