<div class="display-admin">
    <div class="card-admin" data-state="#about">
        <div class="admin-title"><h1>Articles</h1></div>
        <div class="admin-contenu">
            <img src="" alt="" class="two-column">
            <label for="label-1">titre</label><input type="text" name="" id="">
            <label for="label-1">vidéo</label><input type="text" name="" id="">
            <label for="label-1">catégorie</label>
            <select name="pets" id="pet-select">
                <option value=""></option>
            </select>
            <label for="label-1">contenu</label><textarea name="" id="" cols="30" rows="10"></textarea>
            <label for="label-1">résumé</label><textarea name="" id="" cols="30" rows="10"></textarea>
            <button class="two-column sauvegarde">Validation</button>
        </div>
    </div>
</div>