<div class="display-admin">
    <div class="card-admin" data-state="#about">
        <div class="admin-title"><h1>Articles</h1></div>
        <div class="admin-contenu-tab">
            <button id="add-tab" class="two-column sauvegarde">Ajouter</button>
            <table>
                <tr>
                    <th>Nom</th>
                    <th class="th-admin-visible">Visible</th>
                    <th class="th-admin"><img src="./src/images/pencil-fill.svg" alt=""></th>
                    <th class="th-admin"><img src="./src/images/trash3-fill.svg" alt=""></th>
                </tr>
                <tbody id="tab_articles">
                    [#CITIZEN_TAB_ALL#]
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    document.getElementById("add-tab").addEventListener("click", function(event) {
        event.preventDefault();
        document.location.href="./?ind=mod_article";
    });
</script>