<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Konrad Star citizen</title>
    <link rel="icon" href="./../favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./../src/fonts/stylesheet.css" />
    <link rel="stylesheet" href="./../src/css/style-header.css" />
    <link rel="stylesheet" href="./../src/css/index.css" />
    <link rel="stylesheet" href="./../src/css/equipement.css" />
    <link rel="stylesheet" href="./../src/css/equipement_ind.css" />
    <link rel="stylesheet" href="./../src/css/contact.css" />
    <link rel="stylesheet" href="./../src/css/planete.css" />
    <link rel="stylesheet" href="./../src/css/systeme.css" />
    <link rel="stylesheet" href="./../src/css/login.css" />
    <link rel="stylesheet" href="./../src/css/civilisation.css" />
    <link rel="stylesheet" href="./../src/css/articles.css" />
    <link rel="stylesheet" href="./../src/css/compte.css" />
    <link rel="stylesheet" href="./../src/css/login.css" />
    <link rel="stylesheet" href="./../src/css/squadron.css" />
    <link rel="stylesheet" href="./../src/css/partage_screen.css" />
    <link rel="stylesheet" href="./../src/css/gallerie.css" />
    <link rel="stylesheet" href="./../src/css/gestion_screen.css" />
    <link rel="stylesheet" href="./../src/css/rgpd.css" />
    <link rel="stylesheet" href="./../src/css/streamer.css" />
    <link rel="stylesheet" href="./../src/css/patch_note.css" />
    <link rel="stylesheet" href="./../src/css/lieu.css" />
    <link rel="stylesheet" href="./../src/css/gameplay.css" />[#CITIZEN_INDEX_CSS#]
    <link rel="stylesheet" href="./src/css/onglet.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    
    <link
      href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sceditor@3/minified/themes/default.min.css" />
  </head>

  <body>
    <div class="wrapper_menu">
      <nav>
        <input type="checkbox" id="show-search" />
        <input type="checkbox" id="show-menu" />
        <label for="show-menu" class="menu-icon"
          ><i class="fas fa-bars"></i
        ></label>
        <div class="content">
          <div class="logo">
            <a href="./../"><img src="./../src/img/logo_test.png" alt="" /></a>
          </div>
          <ul class="links">
            <li><a class="radio" href="./../">Accueil</a></li>
            <li>
              <a href="#" class="desktop-link radio">Actus</a>
              <input type="checkbox" id="show-actus" />
              <label for="show-actus" class="radio">Actus</label>
              <ul>
                <li>
                  <a class="radio" href="./../?ind=actualites"
                    >Toutes les actus</a
                  >
                </li>
                <li>
                  <a class="radio" href="./../?ind=patch_note">Patch Notes</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#" class="desktop-link radio">Guide</a>
              <input type="checkbox" id="show-guide" />
              <label for="show-guide" class="radio">Guide</label>
              <ul class="deroulant">
                <li>
                  <a class="radio" href="./../?ind=equipements">Equipements</a>
                </li>
                <li><a class="radio" href="./../?ind=lieux">Lieux</a></li>
                <li><a class="radio" href="./../?ind=especes">Espèces</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="desktop-link radio">Gameplay</a>
              <input type="checkbox" id="show-gameplay" />
              <label for="show-gameplay" class="radio">Gameplay</label>
              <ul class="deroulant">
                <li>
                  <a class="radio" href="./../?ind=articles">Tous les articles</a>
                </li>
                <li><a class="radio" href="./../?ind=gameplay">Streamer</a></li>
              </ul>
            </li>
            <li><a class="radio" href="./../?ind=gallerie">Gallerie</a></li>

            <li>
              <a href="#" class="desktop-link radio">Liens utiles</a>
              <input type="checkbox" id="show-liens" />
              <label for="show-liens" class="radio">Liens utiles</label>
              <ul>
                <li>
                  <a
                    class="radio"
                    href="https://robertsspaceindustries.com/starmap"
                    target="_blank"
                    >Starmap</a
                  >
                </li>
                <li>
                  <a
                    class="radio"
                    href="https://robertsspaceindustries.com/download"
                    target="_blank"
                    >Roberts space industries</a
                  >
                </li>
                <li>
                  <a class="radio" href="./../?ind=squadron">Squadron 42</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#" class="desktop-link radio">Mon compte</a>
              <input type="checkbox" id="show-compte" />
              <label for="show-compte" class="radio">Mon compte</label>
              <ul>
                [#CITIZEN_INDEX_SESSION#]
              </ul>
            </li>
          </ul>
        </div>
        <label for="show-search" class="search-icon"
          ><i class="fas fa-search"></i
        ></label>
        <form action="#" class="search-box">
          <input type="text" placeholder="Taper votre recherche ..." required />
          <button type="submit" class="go-icon">
            <i class="fas fa-long-arrow-alt-right"></i>
          </button>
        </form>
      </nav>
    </div>

    <div>
      <button onclick="retourHaut()" id="haut" title="Retour haut de page">
        <img src="./../src/img/fleche.png" alt="fleche retour haut de page" />
      </button>
    </div>
    <div class="page">
      [#CITIZEN_INDEX_PAGE#]
    </div>
    <footer>
      <div class="footer-content">
        <img src="./../src/img/logo_test.png" alt="logo star citizen" />
        <div class="footer-top">
          <h1>Communauté Star Citizen France</h1>
          <p>
            Il s’agit d’un site de fans non officiel de Star Citizen, non
            affilié au groupe de sociétés Cloud Imperium. Tout le contenu de ce
            site qui n’est pas créé par son hôte ou ses utilisateurs est la
            propriété de leurs propriétaires respectifs.
          </p>
        </div>
        <div class="info">
          <div class="reseau">
            <h3>Rejoignez-nous sur nos réseaux</h3>
            <ul class="social">
              <li>
                <a href="#"><i class="fab fa-discord"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitch"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-youtube"></i></a>
              </li>
            </ul>
          </div>

          <div class="footer-menu">
            <ul class="f-menu">
              <li>
                <a class="radio" href="./?ind=info_legale"
                  >Informations légales</a
                >
              </li>
              <li><a class="radio" href="./?ind=cgu">CGU</a></li>
              <li>
                <a class="radio" href="./?ind=politique_confidentialite"
                  >Politique de confidentialités</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <p>2023 - Communnauté Star Citizen France</p>
      </div>
    </footer>

    <style>
      
  </style>
  <dialog id="dialog">
      <form class="admin-contenu" id="dialog-form" method="post">
        <input type="hidden" name="id" id="id-dialog-form" value="0" />
        <input type="hidden" name="id-form-main" id="id-form-main" value="0" />
        <input type="hidden" name="name-show" id="name-show" value="" />
        <button class="close-dialog"><img src="./src/images/x-circle.svg" alt="fermer le dialog"></button>
        <div class="two-column admin-contenu" id="contenu-dialog-form">
        </div>
        <button class="two-column sauvegarde validation-dialog">Valider</button>
      </form>
  </dialog>
  <dialog id="dialog-msg">
      <div class="admin-contenu">
        <button class="close-dialog"><img src="./src/images/x-circle.svg" alt="fermer le dialog"></button>
        <p id="dialog-text"></p>
        <button class="two-column sauvegarde validation-dialog">Valider</button>
      </div>
  </dialog>
  
    <script src="https://kit.fontawesome.com/af562a2a63.js" crossorigin="anonymous"></script>
    <!--<script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://kit.fontawesome.com/3cff230019.js" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/sceditor@3/minified/sceditor.min.js"></script>
    <!--<script src="./../src/js/script.js"></script>-->
    <script src="./../src/js/le_fetch.js"></script>
    <script>
        window.onscroll = function () {
          scrollFunction();
        };

        function scrollFunction() {
          if (
            document.body.scrollTop > 100 ||
            document.documentElement.scrollTop > 100
          ) {
            document.getElementById("haut").style.display = "block";
          } else {
            document.getElementById("haut").style.display = "none";
          }
        }

        function retourHaut() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
      </script>
      <!-- partial -->
      <script src="./src/js/tab_body_empty.js"></script>
      <script src="./src/js/page_admin.js"></script>
      <script src="./src/js/onglet.js"></script>
      <script src="./src/js/dialog/dialog_main_header.js"></script>
      <script src="./src/js/dialog/modifInputDialog.js"></script>
      <script src="./src/js/form/form_list_data.js"></script>
      <script src="./src/js/img/img_icon.js"></script>
      <script>
        
        /*document.querySelectorAll(".text-bbcode").forEach(element => {
          sceditor.create(element, {
            format: 'bbcode',
            width: '80%',
            icons: 'monocons',
            style: 'https://cdn.jsdelivr.net/npm/sceditor@latest/minified/themes/content/default.min.css'
          });
        });*/
        </script>[#CITIZEN_INDEX_JS#]
        <script src="./src/js/img/add_img.js"></script>
        <script src="./src/js/img/img_all.js"></script>
        <script src="./src/js/form/to_form_main.js"></script>
        <script src="./src/js/tab_display_all.js"></script>
        <script src="./src/js/dialog/dialog_add_tab.js"></script>
  </body>
</html>
