<div id="admin_contenu_menu">
    <div id="admin_menu">
        <ul>
            <li><a class="radio" href="./?ind=espace_user">Mon compte</a></li>
            <li><a class="radio" href="./?ind=articles">Les articles</a></li>
            <li><a class="radio" href="./?ind=partage">Les screens</a></li>
            <li><a class="radio" href="./">L'armement FPS</a></li>
            <li><a class="radio" href="./">L'armement vaisseau</a></li>
            <li><a class="radio" href="./">Lieux</a></li>
            <li><a class="radio" href="./">Espèce</a></li>
            <li><a class="radio" href="./">Humain</a></li>
        </ul>
    </div>
    <div id="admin_contenu">
        
        [#CITIZEN_INDEX_PAGE_ADMIN#]
    </div>
</div>