<div id="admin_contenu_menu">
    <div id="admin_menu">
        <ul>
            <li><a class="radio" href="./?ind=espace_user">Mon compte</a></li>
            <li><a class="radio" href="./?ind=articles">Les articles</a></li>
            <li><a class="radio" href="./?ind=screens">Les screens</a></li>
            <li><a class="radio" href="./?ind=arm_fps">L'armement FPS</a></li>
            <li><a class="radio" href="./?ind=arm_vaiss">L'armement vaisseau</a></li>
            <li><a class="radio" href="./?ind=lieux">Lieux</a></li>
            <li><a class="radio" href="./?ind=especes">Espèces</a></li>
            <li><a class="radio" href="./?ind=construct">Constructeurs</a></li>
            <li><a class="radio" href="./?ind=transports">Transports</a></li>
            <li><a class="radio" href="./?ind=transports">matière première</a></li>
            <li><a class="radio" href="./?ind=transports">catégories espèces</a></li>
            <li><a class="radio" href="./?ind=transports">catégories lieux</a></li>
            <li><a class="radio" href="./?ind=transports">catégorie armement</a></li>
            <li><a class="radio" href="./?ind=transports">catégories transports</a></li>
            <li><a class="radio" href="./?ind=transports">couleur</a></li>
            <li><a class="radio" href="./?ind=transports">disponibilités</a></li>
            <li><a class="radio" href="./?ind=transports">equipement</a></li>
            <li><a class="radio" href="./?ind=transports">faiblesses vaisseau</a></li>
            <li><a class="radio" href="./?ind=transports">forces vaisseau</a></li>
            <li><a class="radio" href="./?ind=transports">taille armement vaisseau</a></li>
            <li><a class="radio" href="./?ind=transports">risque</a></li>
            <li><a class="radio" href="./?ind=proprietaires">Propriétaires</a></li>
            <li><a class="radio" href="./?ind=services">Services</a></li>
            [#CITIZEN_INDEX_ADD_MENU_ADMIN#]
        </ul>
    </div>
    <div id="admin_contenu">
        
        [#CITIZEN_INDEX_PAGE_ADMIN#]
    </div>
</div>