.page_generale {
    color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.page_generale h1 {
    text-align: center;
    font-weight: 900;
    font-size: clamp(1.6rem, 3vw, 2.2rem);
    margin: 20px auto;
    width: 70%;
}

.page_generale h1 img {
    width: 20px;
}

.page_generale h4 {
    padding-left: 10px;
    font-size: 20px;
}
.page_generale h3{
    font-size: 17px;
}
#auteur{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#auteur a{
    color: aqua;
    line-height: 1.5rem;
}
#auteur a:hover{
    color: aqua;
}
#auteur img{
    width: 60px;
    margin-right:5px;
    border-radius:50%;
    background-color: var(--light-color);
}
.page_generale p {
    color: white;
    padding: 20px;
    line-height: 1.7rem;

}

.satellite_planete li {
    list-style-type: none;
}

.gallery_planete {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.gallery_planete img {

    width: 420px;
    padding: 20px;
}

.info_generale {
    box-shadow: rgba(6, 201, 255, 0.25) 0px 50px 100px -20px, rgba(28, 159, 220, 0.3) 0px 30px 60px -30px, rgba(32, 121, 210, 0.35) 0px -2px 6px 0px inset;
    border: #00fffb01 1px solid;
    margin: 20px 15%;
}

@media screen and (max-width:855px) {
    .info_generale {
        margin: 20px 10px;
    }

    .gallery_planete img {

        width: 320px;
    }

    .page_generale span {
        margin-left: 10px;
    }
}

.info_generale img {
    display: block;
    margin: 20px auto;
    width: 70%;
}

.info_generale h2 {
    margin: 20px 20px;
    color: rgba(19, 224, 255, 0.75);
}

.info_generale h3 {
    margin: 20px 20px;
}

.info_generale li {
    margin: 10px 20%;
    line-height: 1.8rem;
}

.gallery_ville {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.gallery_ville img {
    width: 40%;
}

iframe {
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

@media screen and (max-width:560px) {
    iframe {
        width: 320px;
        height: auto;
    }
    .page_generale h1 {
        text-align: center;
        margin: 20px 0px;
        width: 100%;
    }
}